<div class="users-setting">
  
  <div class="main">
      <div class="setting-tabs">
        <ul>
          <li class="setting-tab gray-tab"><%=link_to("/users/#{@current_user.id}/setting_profile") do %><h3>プロフィール変更</h3><% end %></li>
          <li class="setting-tab white-tab"><h3>アカウント情報</h3></li>
        </ul>
      </div>
 
    <div class="setting-list">
      <div class="setting-box">
        <%=form_tag("/users/#{@current_user.id}/update_account") do %>
        <ul>
          <li>メールアドレス</li>
          <p>現在のメールアドレス： <%=@current_user.email %></p>
          <span>新しいメールアドレス： </span><input type="text" name="email">
          <p class="empty"></p> <!-- 空白いれるための要素 -->
          <p>この下のパスワード変更、退会処理はダミーです。</p>
          <p>実際にパスワード変更、退会をすることはできません。</p>
          <li><%=link_to("パスワード変更", "") %></li>
          <li><%=link_to("退会処理", "") %></li>
        </ul>
        <div class="btn-wrapper">
          <input type="submit" value="保存" class="profile-btn">
        </div>
        <% end %>
        
      </div>
    </div>
    
  </div>
</div>